<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class='logo-container'>
  <img class='logo' src="logo.jpg">
  <span class="next fa-stack">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-chevron-down fa-stack-1x"></i>
  </span>
</div>

<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Exceed Vote</h1>
  <div class="wrapper text-center">
    <div class='text-field-wrapper'>
      <div class="text-field">
        <%= f.text_field :student_id, :placeholder => "Student ID", autocomplete:  false %>
        <i class="numclear fa fa-times-circle"></i>
      </div>
    </div>

    <div class="numpad">
      <div class="numcell"> 1 </div>
      <div class="numcell"> 2 </div>
      <div class="numcell"> 3 </div><br>
      <div class="numcell"> 4 </div>
      <div class="numcell"> 5 </div>
      <div class="numcell"> 6 </div><br>
      <div class="numcell"> 7 </div>
      <div class="numcell"> 8 </div>
      <div class="numcell"> 9 </div><br>
      <div class="numcell"> 0 </div>
      <div class="numcell double"> Next </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="field">
      <% Category.all.each do |category| %>
        <h1 class="category"><%= category.name %> </h1>
        <div class="topic-container">
        <% category.topics.each do |topic| %>
            <div class="topic">
              <h3><%= topic.name %></h3>
              <% category.projects.each do |project| %>
                <label class='checkbox'><input name="v[<%= topic.id %>]" value="<%= project.id %>" type="checkbox"> <%= project.name %></label>
                <br>
              <% end %>
            </div>
        <% end %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<% end %>

<style>
  body {
    background: rgb(211, 249, 166);
    color: #1c5a29;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    -ms-overflow-style: none;
  }

  h1 {
    font-weight: normal;
  }

  input[type="text"] {
    font-family: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  label.checkbox {
    position: relative;
    display: block;
    padding-left: 40px;
    cursor: pointer;
  }

  label.checkbox::after {
    content: "\f0c8";
    position: absolute;
    top: 0; left: 0;
    font-size: 26px;
    font-family: FontAwesome;
  }

  label.checkbox.checked::after {
    content: "\f14a";
    position: absolute;
    top: 0; left: 0;
    font-family: FontAwesome;
    color: red;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  .logo-container {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 80%;
    margin: auto;
  }

  .next {
    position: absolute;
    width: 100%;
    display: inline-block;
    bottom: 20px;
    font-size: 2em;
    -webkit-animation: down 1s infinite ease;
    animation: down 1s infinite ease;
  }

  .topic-container {
    margin: 50px;
    display: block;
    position: relative;
  }

  .topic {
    width: 30%;
    /*background: rgba(255, 255, 255, 0.5);*/
    display: inline-block;
    border-radius: 10px;
    border: 1px dashed #bcbcbc;
    padding: 10px;
  }

  .wrapper {
    position: relative;
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .field {
    margin: 60px;
    display: block;
    position: relative;
    font-size: 1.5em;
    line-height: 22px;
  }

  .text-field-wrapper {
    position: relative;
    display: block;
    margin: 60px 0;
    text-align: center;
  }

  .text-field {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    width: 500px;
  }

  .text-field > input {
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
  }

  .numpad {
    color: white;
    display: inline-block;
    background: #c4e695;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    margin-bottom: 80px;
    font-size: 2em;
  }

  .numcell {
    margin: 0.5%;
    display: inline-block;
    width: 8%;
    padding: 3% 0;
    background: #5c5b5e;
    transition: all 0.1s ease-in;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .numclear {
    position: absolute;
    top: 9px; right: 5px;
    font-size: 1.8em;
  }

  .numcell.double {
    width: 18%;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  @-webkit-keyframes down {
    0% {bottom: 20px;}
    50% {bottom: 25px;}
    100% {bottom: 20px;}
  }

  @keyframes down {
    0% {bottom: 20px;}
    50% {bottom: 25px;}
    100% {bottom: 20px;}
  }

  .category {
    font-size: 50px;
  }

  @media all and (max-width: 768px) {
    .logo {
      width: 100%;
    }

    .heading {
      font-size: 1.2em;
    }

    .text-field {
      position: relative;
      display: inline-block;
      font-size: 1.2em;
      width: 300px;
    }

    .numpad {
      display: none;
    }
  }

</style>

<script src="js/bootstrap.min.js"></script>
<script>
  function setLogoContainerSize() {
    $('.logo-container').width($(window).width());
    $('.logo-container').height($(window).height()); 
  }

  $(document).ready(function () {

    FastClick.attach(document.body);

    setLogoContainerSize();

    $('.logo-container').click(function () {
      $('html, body').animate({ scrollTop: $(window).height()}, '200');
    });

    $(".numcell").click(function () {
      var x = $(this);
      x.css("color", "#c4e695");

      setTimeout(function () {
        x.css("color", "");
      }, 200);

      var number = $(this).html().trim();

      if (number == "Next") {
        $('html, body').animate({ scrollTop: $(window).height() * 2}, '200');
      } else {
        $('#vote_student_id').val( function(index, val) {
          return val + number;
        });  
      }
    });

    $(".numclear").click(function () {
      $("#vote_student_id").val("");
    });

    $(".checkbox").click(function () {
      $(this).toggleClass('checked');
      return false;
    });

    $(window).resize(function () {
      setLogoContainerSize();
    });
  });
</script>
