<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class='logo-container'>
  <img class='logo' src="logo.jpg">
  <div class='heading'>
    <span class="fa-stack next">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-chevron-down fa-stack-1x"></i>
    </span>
    <h1>Exceed Vote</h1>
  </div>
</div>

<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrapper">
    <div class="text-field">
    <%= f.text_field :student_id, :placeholder => "Student ID", :auto_complete => false %>
      <i class="numclear fa fa-times-circle"></i>
    </div>

    <div class="numpad">
      <div class="numcell"> 1 </div>
      <div class="numcell"> 2 </div>
      <div class="numcell"> 3 </div><br>
      <div class="numcell"> 4 </div>
      <div class="numcell"> 5 </div>
      <div class="numcell"> 6 </div><br>
      <div class="numcell"> 7 </div>
      <div class="numcell"> 8 </div>
      <div class="numcell"> 9 </div><br>
      <div class="numcell"> 0 </div>
      <div class="numcell double"> Next </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="field">
      <% Category.all.each do |category| %>
        <h2><%= category.name %> </h2>
        <div class="topic-container">
        <% category.topics.each do |topic| %>
            <div class="topic">
              <h3><%= topic.name %></h3>
              <% category.projects.each do |project| %>
                <label><input name="v[<%= topic.id %>]" value="<%= project.id %>" type="radio"> <%= project.name %></label>
                <br>
              <% end %>
            </div>
        <% end %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<% end %>

<style>
  body {
    background: rgb(211, 249, 166);
    color: #1c5a29;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    -ms-overflow-style: none;
  }

  h1 {
    font-weight: normal;
  }

  input[type="text"] {
    font-family: inherit;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
  }

  .logo-container {
    position: relative;
    text-align: center;
  }

  .logo {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 80%;
    margin: auto;
  }

  .heading {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
  }

  .heading > .next {
    cursor: pointer;
    width: 50px;
    -webkit-animation: myfirst 1s infinite ease; /* Chrome, Safari, Opera */
    animation: myfirst 1s infinite ease;
    position: relative;
  }

  .topic-container {
    margin: 20px;
    display: block;
    position: relative;
  }

  .topic {
    width: 30%;
    /*background: rgba(255, 255, 255, 0.5);*/
    display: inline-block;
    border-radius: 10px;
    border: 1px dashed #bcbcbc;
    padding: 10px;
  }

  .wrapper {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .field {
    margin: 60px;
    display: block;
    position: relative;
  }

  .text-field {
    position: relative;
    display: block;
    width: 500px;
    margin: 60px auto;
    font-size: 1.5em;
  }

  .text-field > input {
    width: 100%;
    font-size: inherit;
  }

  .numpad {
    color: white;
    display: inline-block;
    background: #c4e695;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    margin-bottom: 80px;
  }

  .numcell {
    margin: 4px;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #5c5b5e;
    line-height: 120px;
    font-size: 3.2em;
    transition: all 0.1s ease-in;
    cursor: pointer;
    border-radius: 5px;
  }

  .numclear {
    position: absolute;
    top: 6px; right: -20px;
    font-size: 1.8em;
  }

  .numcell.double {
    width: 250px;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    0% {top: 0px;}
    50% {top: 6px;}
    100% {top: 0px;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    0% {top: 0px;}
    50% {top: 6px;}
    100% {top: 0px;}
  }
</style>

<script src="js/bootstrap.min.js"></script>
<script>
  function setLogoContainerSize() {
    $('.logo-container').width($(window).width());
    $('.logo-container').height($(window).height()); 
  }

  $(document.body).on('touchstart', function (e) {
    return false;
  });

  $(document.body).on('touchend', function (e) {
    return false;
  });

  $(document).ready(function () {

    FastClick.attach(document.body);

    setLogoContainerSize();

    $('.logo-container').click(function () {
      $('html, body').animate({ scrollTop: $(window).height() - 230}, '200');
    });

    $(".numcell").click(function () {
      var x = $(this);
      x.css("color", "#c4e695");

      setTimeout(function () {
        x.css("color", "");
      }, 200);

      var number = $(this).html().trim();

      if (number == "Next") {
        $('html, body').animate({ scrollTop: $(window).height() + 730}, '200');
      } else {
        $('#vote_student_id').val( function(index, val) {
          return val + number;
        });  
      }
    });

    $(".numclear").click(function () {
      $("#vote_student_id").val("");
    });
  });

  $(window).resize(function () {
    setLogoContainerSize();
  });

</script>
