<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class='wrapper header'>
  <img class='header-logo' src="/logo.jpg">
  <span class="header-next fa-stack">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-chevron-down fa-stack-1x"></i>
  </span>
</div>

<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrapper signin">
    <h1 class='signin-heading'>eXceed Vote</h1>
    <div class='text-field-wrapper'>
      <div class="text-field">
        <%= f.text_field :student_id, :placeholder => "Student ID", autocomplete:  false %>
        <i class="text-field-clear fa fa-times-circle"></i>
      </div>
    </div>

    <div class="numpad">
      <div class="numcell"> 1 </div>
      <div class="numcell"> 2 </div>
      <div class="numcell"> 3 </div><br>
      <div class="numcell"> 4 </div>
      <div class="numcell"> 5 </div>
      <div class="numcell"> 6 </div><br>
      <div class="numcell"> 7 </div>
      <div class="numcell"> 8 </div>
      <div class="numcell"> 9 </div><br>
      <div class="numcell"> 0 </div>
      <div class="numcell double"> Next </div>
    </div>
  </div>

  <div class="vote">
    <div class="field">
      <% Category.all.each do |category| %>
        <h1 class="category"><%= category.name %> </h1>
        <div class="topic-container">
        <% category.topics.each do |topic| %>
            <div class="topic">
              <h3><%= topic.name %></h3>
              <% category.projects.each do |project| %>
                <label class='checkbox'>
                  <input name="v[<%= topic.id %>][]" value="<%= project.id %>" type="checkbox"> <%= project.name %>
                </label>
                <br>
              <% end %>
            </div>
        <% end %>
      </div>
      <% end %>
      <div class="actions">
        <input type="submit" value="Submit Vote" name="commit">
      </div>
    </div>
  </div>
<% end %>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

<style>
  body {
    background: rgb(211, 249, 166);
    color: #1c5a29;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    -ms-overflow-style: none;
  }

  h1 {
    font-weight: normal;
  }

  input[type="text"] {
    font-family: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  input[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
  }

  label.checkbox {
    position: relative;
    display: block;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 5px;
  }

  label.checkbox::after {
    content: "\f0c8";
    position: absolute;
    top: 0; left: 0;
    font-size: 26px;
    font-family: FontAwesome;
    color: #c4e695;
  }

  label.checkbox.checked::after {
    content: "\f14a";
    position: absolute;
    top: 0; left: 0;
    font-family: FontAwesome;
    color: #1c5a29;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  .wrapper {
    position: relative;
  }

  .header {}

  .header-logo {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 80%;
    margin: auto;
  }

  .header-next {
    position: absolute;
    left: 0; right: 0; bottom: 20px;
    display: inline-block;
    margin: auto;
    font-size: 2em;
    -webkit-animation: down 1s infinite ease;
            animation: down 1s infinite ease;
  }

  .signin {
    text-align: center;
  }

  .signin-heading {
    margin: 80px;
    margin-top: 10%;
    font-size: 5em;
  }

  .text-field-wrapper {
    position: relative;
    display: block;
    margin: 60px 0;
    text-align: center;
  }

  .text-field {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    width: 500px;
  }

  .text-field > input {
    font-size: inherit;
    width: 100%;
    box-shadow: 1px 1px 4px 1px #c4e695;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .text-field-clear {
    position: absolute;
    top: 5px; right: 5px;
    font-size: 2em;
  }

  .numpad {
    color: white;
    display: inline-block;
    background: #c4e695;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    margin-bottom: 80px;
    font-size: 2em;
  }

  .numcell {
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #5c5b5e;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .numcell.double {
    width: 220px;
    background-color: #1c5a29;
  }

  .vote {
    margin: 20px;
  }

  .field {
    position: relative;
  }

  .category {
    font-size: 2.5em;
  }

  .topic-container {
    width: 100%;
    text-align: center
  }

  .topic {
    display: inline-block;
    width: 30%;
    padding-left: 10%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.3em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .topic > h3 {
    position: relative;
    left: -5%;
  }

  .actions {
    position: absolute;
    left: 0; right: 0;
    font-size: 1.4em;
    display: inline-block;
    margin: 40px auto;
    margin-top: 100px;
    text-align: center
  }

  .actions > input {
    background-color: #1c5a29;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  @-webkit-keyframes down {
    0% {bottom: 20px;}
    50% {bottom: 25px;}
    100% {bottom: 20px;}
  }

  @keyframes down {
    0% {bottom: 20px;}
    50% {bottom: 25px;}
    100% {bottom: 20px;}
  }

  @media all and (max-width: 768px) {
    .header-logo {
      width: 100%;
    }

    .signin-heading {
      margin-top: 50%;
      font-size: 2em;
    }

    .text-field {
      position: relative;
      display: inline-block;
      font-size: 1.2em;
      width: 300px;
    }

    .numpad {
      display: none;
    }

    .topic {
      width: 100%;
      font-size: 1.2em;
    }
  }
</style>

<script>
  function setWrapperSize() {
    $('.wrapper').width($(window).width());
    $('.wrapper').height($(window).height()); 
  }

  $(document).ready(function () {

    FastClick.attach(document.body);

    setWrapperSize();

    $('.header').click(function () {
      $('html, body').animate({ scrollTop: $(window).height()}, '200');
    });

    $(".numcell").click(function () {
      var x = $(this);
      x.css("color", "#c4e695");

      setTimeout(function () {
        x.css("color", "");
      }, 200);

      var number = $(this).html().trim();

      if (number == "Next") {
        $('html, body').animate({ scrollTop: $(window).height() * 2 + 100}, '200');
      } else {
        $('#vote_student_id').val( function(index, val) {
          return val + number;
        });  
      }
    });

    $(".text-field-clear").click(function () {
      $("#vote_student_id").val("");
    });

    $(".checkbox").click(function () {
      $(this).toggleClass('checked');
      $(this).find('input').prop('checked', $(this).hasClass('checked'));
      return false;
    });

    $(".checkbox").each(function() {
      $(this).toggleClass('checked', $(this).find('input').prop('checked'));
    })
  });
</script>
