<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @vote.student_id %>

  <%=  @vote.vote_items.each do |vote_item| %>
  	<%= vote_item %>
  <% end %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
